@model WebApp_Cinepolis.Models.Combo

@{
    ViewBag.Title = "Borrar";
}

<h3>¿Está seguro de que desea borrar el siguiente combo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo
        </dt>

        <dd>
            <table>
                <tr>
                    <td style="padding-right:10px">Adultos</td>
                    <td style="padding-right:20px">@Html.RadioButtonFor(model => model.EsAdulto, true, new { @disabled = "disabled" }) </td>
                    <td style="padding-right:10px">Niños</td>
                    <td> @Html.RadioButtonFor(model => model.EsAdulto, false, new { @disabled = "disabled" }) </td>
                </tr>
            </table>
        </dd>
        @if (!Model.EsAdulto)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Juguete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Juguete)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Productos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos)
        </dd>


        @if (Model.EsAdulto)
        {
            <dt>
                Tiquete
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tiquete.Nombre)
            </dd>
        }
        <dt>
            Cine asociado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cine.Nombre)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
