@model IEnumerable<WebApp_Cinepolis.Models.Combo>

@{
    ViewBag.Title = "Combos";
}

<h2>Lista de Combos</h2>
<p>
    @Html.ActionLink("Agregar un nuevo combo", "Create")
</p>

@if ((bool)ViewData["VistaGeneral"])
{
    <a onclick="history.back()" href="#">Vista anterior</a>
}
else
{
    <p>
        <a href="/Combos/Index">Vista general</a>
    </p>
}


<h3>Combos para adulto</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productos)
        </th>
        <th>
            Cine Asociado
        </th>
        <th>
            Tiquete
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.EsAdulto == true)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Productos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cine.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tiquete.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>

        }

    }

</table>


<h3>Combos para niño</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productos)
        </th>
        <th>
            Cine Asociado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Juguete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.EsAdulto == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cine.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Juguete)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }


    }

</table>
@Html.ActionLink("Atrás", "Index", "Home")
