@model WebApp_Cinepolis.Models.Sala

@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar nueva sala</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Id de sala</strong></span>
            <div class="col-md-10">
                <input id="InputSalaId" class="form-control text-box single-line" disabled="disabled" value="@ViewData["IdSalaPosible"]" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Capacidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2"><strong>Cine asociado</strong></span>
            <div class="col-md-10">
                @Html.DropDownList("CineId", null, htmlAttributes: new { @class = "form-control", @id = "DropdownCineId", @onchange= "actualizarIdSala()" })
                @Html.ValidationMessageFor(model => model.CineId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a onclick="history.back()" href="#">Atrás</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/SalasScript.js")
}
