@model WebApp_Cinepolis.Models.Sala

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de la sala</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            Cine asociado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cine.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id, cine_id = Model.CineId }) |
    <a onclick="history.back()" href="#">Atrás</a>
</p>
