@model IEnumerable<WebApp_Cinepolis.Models.Sala>

@{
    ViewBag.Title = "Agregar";
}

<h2>Lista de Salas</h2>

<p>
    @Html.ActionLink("Agregar una nueva sala", "Create", new { cine_id = (int)ViewData["IdCine"] }, null)
</p>

@if ((bool)ViewData["VistaGeneral"])
{
    @Html.ActionLink("Vista anterior", "Index", new { gen_view = false, id = (int)ViewData["IdCine"] })
}
else
{
    @Html.ActionLink("Vista general", "Index", new { gen_view = true, id = (int)ViewData["IdCine"] })

}


<table class="table">
    <tr>
        <th>
            Id de Sala
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            Cine asociado
        </th>
        <th style="width:250px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cine.Nombre)
            </td>
            <td style="width:250px">

                @Html.ActionLink("Editar", "Edit", new { id = item.Id, cine_id = item.CineId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id, cine_id = item.CineId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id, cine_id = item.CineId }) |
                @Html.ActionLink("Ver horarios", "IndexHorariosSala", "Horarios", new { sala_id = item.Id, cine_id = item.CineId }, null)


            </td>
        </tr>
    }

</table>

@if (Model.Count() == 0)
{
    <h4>No se encontraron salas para este Cine.</h4>
}
@Html.ActionLink("Atrás", "Index", "Home")