@model IEnumerable<WebApp_Cinepolis.Models.Cine>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Cines</h2>

<p>
    @Html.ActionLink("Agregar Cine", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Ubicación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <br>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) <br>
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Atrás", "Index", "Home")