@model WebApp_Cinepolis.Models.Pelicula

@{
    ViewBag.Title = "Detalles";
}


<h2>Detalles de la película</h2>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Género
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            Restricción de edad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsAdultos)
        </dd>
        @if (Model.EsAdultos)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Acciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acciones)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Actores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resumen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Atrás", "Index")
</p>
