@model WebApp_Cinepolis.Models.Horario

@{
    ViewBag.Title = "Borrar";
}


<h3>¿Está seguro de que desea borrar el siguiente horario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_inicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_final)
        </dd>

        <dt>
            Cine asociado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.Cine.Nombre)
        </dd>

        <dt>
            Id de sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.Id)
        </dd>

        <dt>
            Película
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            <a onclick="history.back()" href="#">Atrás</a>
        </div>
    }
</div>
